
ul
    {
    margin-top: -10px;
    }

li > p:first-child 
    {
    display: inline;
    }

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.top_navbar
    { 
    background: #872518; 
    font-family: sans-serif;
    font-size: 110%;
    vertical-align: middle;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2%;

    margin-left: 10px;
    margin-right: 0px;
    /*
    padding-right: auto;
    */
    /*       t   r    b   l*/
    /*
    text-align: left; 
    margin:  3px 0px  0px  0px;
    padding: 4px 10px 12px 30px;
    */
    border-radius: 10px;

    /*
    -moz-box-shadow: 1px 1px 1px #999;
    -webkit-box-shadow: 1px 1px 1px #999;
    box-shadow: 1px 1px 1px #999;
    */
    }
.top_navbar a
    {
    color: #fff;
    font-size: 100%;
    margin-right: 20px;
    }

img[alt=small] 
    { 
    width: 30%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
img[alt=medium] 
    { 
    width: 60%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
img[alt=large] 
    { 
    width: 80%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
